1. 엑셀 파일의 '기업명'만 추출하여 FIS 식품산업통계정보 사이트에서 검색
2. 해당 기업명의 '지역'과 '매출액'이 엑셀 파일과 일치하는 항목 검색
3. 해당 기업의 대표자 성명 국문만, 설립일의 설립 년도만, 종업원수, 주요 생산품목, 2018년 기준 특허 건수, 한글 발명의 명칭을 추출하여 CSV파일로 정리

A상 제조사 kSIC 분류 조사

https://www.atfis.or.kr/business/M002040000/list.do